@charset "UTF-8";
/* Animation */
@import '~node_modules/modern-normalize/modern-normalize.css';
.is-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  min-width: 320px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 320px;
}
@media (min-width: 769px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1201px) {
  .container {
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Main style for page */
.page {
  font-family: "DM Sans", "Titan One", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  color: #555555;
}

/* Убрать подчеркивание на всех ссылках */
a {
  text-decoration: none;
}

img {
  display: block;
}

/* Глобальные атрибуты для списков */
li {
  list-style: none;
  padding: 0;
}

.page-header {
  position: fixed;
  width: 100vw;
}
.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.page-header__btn {
  display: none;
}
.page-header__hum-icon {
  width: 20px;
  height: 12px;
}
@media (min-width: 769px) {
  .page-header__wrapper {
    margin-top: 32px;
  }
  .page-header__btn {
    display: inline-block;
  }
}
@media (min-width: 1201px) {
  .page-header__wrapper {
    margin-top: 37px;
  }
}

.hero {
  background: #ffb8ca;
  height: 664px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 147px;
}
.hero__circle {
  position: absolute;
  text-align: center;
  width: 346px;
  height: 346px;
  border-radius: 50%;
  background-color: #ffa5ba;
}
.hero__pic {
  display: inline-block;
}
.hero__right-wrapper, .hero__left-wrapper {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.hero__info-wrapper {
  display: flex;
  padding-bottom: 60px;
}
.hero__text {
  width: 200px;
}
@media (min-width: 769px) {
  .hero__right-wrapper, .hero__left-wrapper {
    display: flex;
  }
}
.btn {
  height: 24px;
  align-items: center;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #D41443;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
}
.btn--yellow {
  background: #FF6C00;
  color: #fff;
}
.btn--trans {
  background: transparent;
  color: #fff;
}

.btn:focus, .btn:hover {
  color: #fff;
  background: #FF6C00;
}
.btn--yellow .btn__link:hover {
  color: #D41443;
  background: #fff;
}

.logo {
  z-index: 1;
}
.logo__link {
  display: flex;
  cursor: pointer;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.logo__icon {
  margin-right: 20px;
  width: 49px;
  height: 49px;
}
.logo__text {
  align-self: center;
  color: #D41443;
}
.navigation {
  display: none;
  margin-right: 25px;
}
.navigation__pages {
  display: flex;
}
.navigation__item {
  margin-left: 24px;
}
.navigation__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #fff;
}
.navigation__link--active-page {
  color: #FF6C00;
}
.navigation__link--active-page::after {
  content: "";
}
@media (min-width: 769px) {
  .navigation {
    display: block;
  }
}
@media (min-width: 1201px) {
  .navigation {
    margin-right: auto;
  }
}

.navigation__link:hover {
  color: #FF6C00;
}/*# sourceMappingURL=index.css.map */