@import '~node_modules/modern-normalize/modern-normalize.css';

/* Убрать подчеркивание на всех ссылках */
a {
    text-decoration: none;
}

// Убрать лишний отступ
img {
    display: block;
}

/* Глобальные атрибуты для списков */
li {
  list-style: none;
  padding: 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}