<!-- Header -->

<header class="page-header">
  <!-- CONTAINER -->
  <div class="container page-header__container">
    <!-- Top header -->
    <div class="page-header__wrapper">
      <!-- Logo -->
      <div class="logo">
        <a class="logo__link" href="/">
          <svg class="logo__icon">
            <use xlink:href="./images/icons.svg#icon-logo"></use>
          </svg>
          <span class="logo__text">icecream</span>
        </a>
      </div>

      <!-- Navigation -->
      <nav class="navigation">
        <!-- Navigation -->
        <ul class="navigation__pages">
          <li class="navigation__item">
            <a class="navigation__link" href="./">Home</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="./">About us</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="./">How it’s made?</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="./">Our products</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="./">Contact</a>
          </li>

        </ul>
      </nav>

      <!-- Button -->
      <a class="btn page-header__btn" href="#get-in">Buy now</a>

      <!-- Menu -->
      <div class="page-header__hum-button" data-menu-open>
        <a class="page-header__hum-link" href="#">
          <svg class="page-header__hum-icon">
            <use xlink:href="./images/icons.svg#icon-burger"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
