.navigation {
  display: none;
  

  &__pages {
    display: flex;
    padding: 0;
  }

  &__item {
    margin-right: 35px;
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    font-weight: $font-weight-2;
    font-size: $font-size-4;
    line-height: 21px;    
    color: $text-color-third;
  }

  &__link--active-page {
    color: $accent-color;
  }

  &__link--active-page::after {

    content: "";
  }

  @include media(">tablet") {
    
  }

  @include media(">desktop") {
    display: block;
  }
}


// Hover
.navigation {
  &__link:hover {
    color: $accent-color;
  }
}