.hero {
  background: #ffb8ca;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 194px;
    padding-bottom: 158px;
  }

  &__pic-box {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 32px;
    bottom: 0;
  }

  &__pic-box:before {
    content: '';
    width: 346px;
    height: 346px;
    background: #ffa5ba;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -9px;
  }

  &__circle {
  }

  &__pic {
    position: relative;
  }

  &__right-wrapper {
    display: none;
  }

  &__left-wrapper,
  &__right-wrapper {
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title-wrapper {
    width: 277px;
  }

  &__info-wrapper {
    display: none;
    padding-bottom: 16px;
    align-items: center;
  }

  &__info-pic {
  }

  &__text-box {
  }

  &__text {
    width: 200px;
  }

  &__stat {
  }
  &__stat-list {
  }
  &__stat-item {
  }
  &__stat-num {
  }
  &__stat-text {
  }

  @include media('>tablet') {
    &__container {
      padding-top: 102px;
      padding-bottom: 0;
    }

    &__pic-box {
      right: 303px;
    }

    &__pic-box:before {
      width: 335px;
      height: 335px;
      top: -37px;
    }

    &__pic {
      left: -50px;
    }

    &__left-wrapper,
    &__right-wrapper,
    &__info-wrapper {
      display: flex;
    }

    &__title-wrapper {
      width: 162px;
    }

    &__title {
      font-size: 22px;
      line-height: 25px;
    }

    &__secondline {
      font-size: 34px;
      line-height: 31px;
    }
  }

  @include media('>desktop') {
    &__container {
      padding-top: 147px;
    }

    &__pic-box {
      right: 328px;
    }

    &__pic-box:before {
      width: 534px;
      height: 534px;
      top: -54px;
    }

    // font-size: 37px;
    // line-height: 42px;

    &__info-wrapper {
      padding-bottom: 60px;
    }

    &__title-wrapper {
      width: 277px;
    }
  }
}
